<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="number" scope="locale">
            <name>delightTokensHoldTime</name>
            <label lang="de">Bonus Hold Time</label>
            <label lang="en">Bonus Hold Time</label>
        </element>
    </elements>
</config>