<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="false" type="select" scope="shop">
            <name>script</name>
            <label>script</label>
            <description><![CDATA[
                .maxia-plugin-heading {
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 16px;
                    margin-bottom: 8px;
                    padding-bottom: 3px;
                    border-bottom: 1px solid #c6d5dc;
                }
                .maxia-plugin-heading.subheading {
                    font-size: 12px;
                    margin-top: 12px;
                    margin-bottom: 6px;
                }
                .maxia-plugin-helptext {
                    margin: 18px 0;
                    color: black;
                    line-height: 20px;
                }
                tbody:nth-child(2) .maxia-plugin-heading { margin-top: 5px; }
                ]]>
            </description>
            <store><![CDATA[ Ext.define('MaxiaPluginHeading', {
                extend: 'Ext.data.Store',
                fields: [],
                parent: this,
                autoLoad: true,
                class: '',
                listeners: {
                    beforeload: function(store) {
                        var cmp = store.parent;

                        if (cmp.elementName === 'script') {
                            cmp.hide();

                            if (window.maxiaPluginStyleInserted !== true) {
                                var head = document.head || document.getElementsByTagName('head')[0],
                                    style = document.createElement('style');

                                head.appendChild(style);
                                style.type = 'text/css';
                                style.appendChild(document.createTextNode(cmp.helpText));
                                window.maxiaPluginStyleInserted = true;
                            }

                        } else {
                            var classes = store.class.length ? (' ' + store.class) : '';
                            var html = '<tr><td colspan="2"><div class="maxia-plugin-heading' + classes + '">' + cmp.fieldLabel + '</div>';

                            if (!Ext.isEmpty(cmp.helpText))
                                html += '<div class="maxia-plugin-helptext">' + cmp.helpText + '</div>';

                            html += '</td></tr>';
                            cmp.update(html);

                        }
                    }
                }
                }).create();//new ]]>
            </store>
        </element>

        <!-- BASIC -->

        <element required="false" type="select" scope="shop">
            <name>headingBasicSettings</name>
            <label lang="de">Grundeinstellungen</label>
            <label lang="en">Basic settings</label>
            <store><![CDATA[Ext.create('MaxiaPluginHeading', { parent: this })//new ]]></store>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>pluginEnabled</name>
            <label lang="de">In diesem Subshop aktivieren</label>
            <label lang="en">Activate for this subshop</label>
            <value>1</value>
        </element>

        <!-- TABLE -->
        <element required="false" type="select" scope="shop">
            <name>headingTable</name>
            <label lang="de">Tabelle</label>
            <label lang="en">Table</label>
            <store><![CDATA[Ext.create('MaxiaPluginHeading', { parent: this })//new ]]></store>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showCurrentPrice</name>
            <label lang="de">Aktuellen Preis über der Tabelle anzeigen</label>
            <label lang="en">Show current price above the table</label>
            <value>1</value>
            <description lang="de">Wenn aktiv, wird der derzeit aktive Preis (je nach Mengenauswahl) wie bei Artikeln ohne Preisstaffelung angezeigt.</description>
            <description lang="en">If active, the currently active price (depending on quantity selection) is displayed as for items without price graduations.</description>
        </element>

        <element required="true" type="select" scope="shop">
            <name>position</name>
            <label lang="de">Position der Tabelle</label>
            <label lang="en">Table position</label>
            <value>default</value>
            <description lang="de">Wählen Sie hier aus, an welcher Stelle die Tabelle angezeigt werden soll.</description>
            <description lang="en">Select here, where the table should be displayed.</description>
            <store>
                <option>
                    <value>default</value>
                    <label lang="de">Standard</label>
                    <label lang="en">Default</label>
                </option>
                <option>
                    <value>afterBuyButton</value>
                    <label lang="de">Unter dem Warenkorb-Button</label>
                    <label lang="en">Below the cart button</label>
                </option>
            </store>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>highlightPrice</name>
            <label lang="de">Aktuellen Preis hervorheben</label>
            <label lang="en">Highlight current price</label>
            <value>1</value>
            <description lang="de">Wenn aktiv, wird der derzeit aktive Preis in der Tabelle hervorgehoben (je nach Mengenauswahl).</description>
            <description lang="en">If active, the currently active price is highlighted in the table (depending on the quantity selection).</description>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>blockPricesClickable</name>
            <label lang="de">Anpassung der Stückzahl per Klick</label>
            <label lang="en">Update quantity on click</label>
            <value>1</value>
            <description lang="de">Aktivieren Sie diese Option, wenn die Staffelpreistabelle anklickbar sein soll.</description>
            <description lang="en">Activate this option if you want the price graduations table to be clickable.</description>
        </element>

        <element required="true" type="select" scope="shop">
            <name>priceInfo</name>
            <label lang="de">Zweite Zeile zeigt</label>
            <label lang="en">Second row shows</label>
            <value>referenceprice_only</value>
            <description lang="de">Wählen Sie hier aus, welche Information unter dem Preis pro Zeile angezeigt werden soll.</description>
            <description lang="en">Choose which information should be displayed under the price for each row.</description>
            <store>
                <option>
                    <value>referenceprice_only</value>
                    <label lang="de">Nur Grundpreis</label>
                    <label lang="en">Base price only</label>
                </option>
                <option>
                    <value>referenceprice</value>
                    <label lang="de">Grundpreis oder Rabatt in Prozent</label>
                    <label lang="en">Base price or savings in percent</label>
                </option>
                <option>
                    <value>savings_percent</value>
                    <label lang="de">Rabatt in Prozent</label>
                    <label lang="en">Savings in Percent</label>
                </option>
                <option>
                    <value>savings_currency</value>
                    <label lang="de">Rabatt in Währung</label>
                    <label lang="en">Savings in currency</label>
                </option>
                <option>
                    <value>savings_currency_percent</value>
                    <label lang="de">Rabatt in Währung und Prozent</label>
                    <label lang="en">Savings in currency and percent</label>
                </option>
                <option>
                    <value>hidden</value>
                    <label lang="de">Ausblenden</label>
                    <label lang="en">Hidden</label>
                </option>
            </store>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>discountAsBadge</name>
            <label lang="de">Prozentrabatt als Badge</label>
            <label lang="en">Percent discount as badge</label>
            <value>1</value>
            <description lang="de">Aktivieren Sie diese Option, wenn rechts neben dem Preis der Prozentrabatt als Badge anzeigen werden soll.</description>
            <description lang="en">Activate this option if the percentage discount should be displayed as a badge to the right of the price.</description>
        </element>

        <element required="true" type="select" scope="shop">
            <name>sortOrder</name>
            <label lang="de">Sortieren nach</label>
            <label lang="en">Sort by</label>
            <value>asc</value>
            <store>
                <option>
                    <value>asc</value>
                    <label lang="de">Menge - ansteigend</label>
                    <label lang="en">Quantity - ascending</label>
                </option>
                <option>
                    <value>desc</value>
                    <label lang="de">Menge - absteigend</label>
                    <label lang="en">Quantity - descending</label>
                </option>
            </store>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showPseudoprice</name>
            <label lang="de">Pseudopreise anzeigen</label>
            <label lang="en">Show discount prices</label>
            <value>0</value>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showPackUnit</name>
            <label lang="de">Verpackungseinheit anzeigen</label>
            <label lang="en">Show purchase unit</label>
            <value>0</value>
            <description lang="de">Aktivieren Sie diese Option, wenn die Verpackungseinheit neben der Mengenzahl angezeigt werden soll.</description>
            <description lang="en">Activate this option if the packaging unit should be displayed next to the quantity number.</description>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showUntil</name>
            <label lang="de">Erste Staffel mit 'bis' kennzeichnen</label>
            <label lang="en">Show first 'from' for first price</label>
            <value>0</value>
            <description lang="de">Wenn aktiv, wird der erste Preis in der Tabelle mit 'bis' gekennzeichnet (wie in der Standart-Tabelle). Wenn inaktiv wird der erste Preis mit 'ab' gekennzeichnet.</description>
            <description lang="en">When active, the first price in the table will be marked with 'until' (as in the default table). When inactive, the first price will be marked with 'from'.</description>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>hideUnavailable</name>
            <label lang="de">Nicht verfügbare Preise ausblenden</label>
            <label lang="en">Hide unavailable prices</label>
            <value>0</value>
            <description lang="de">Wenn aktiv, werden nicht verfügbare Preise aus der Tabelle entfernt (Minimal-/Maximalabnahme bzw. Lagerbestand bei Abverkaufsartikel wird berücksichtigt). Wenn nur ein einziger Preis verfügbar ist, wird die Tabelle komplett ausgeblendet.</description>
            <description lang="en">If active, unavailable prices will be removed from the table (based on minimum / maximum purchase or stock of closeout items). If only a single price is available, the table is completely hidden.</description>
        </element>

        <element required="true" type="number" scope="shop">
            <name>percentDecimals</name>
            <label lang="de">Prozentrabatte runden</label>
            <label lang="en">Percent rebate rounding</label>
            <value>1</value>
            <description lang="de">Tragen Sie hier die Anzahl der Dezimalstellen ein, auf die gerundet werden soll.</description>
            <description lang="en">Enter here the number of decimal places you want to round to.</description>
        </element>

        <!-- QUANTITY SELECT -->

        <element required="false" type="select" scope="shop">
            <name>headingQuantitySelect</name>
            <label lang="de">Mengenauswahl als Textfeld</label>
            <label lang="en">Quantity select as text field</label>
            <store><![CDATA[Ext.create('MaxiaPluginHeading', { parent: this })//new ]]></store>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showNumberInput</name>
            <label lang="de">Mengenauswahl als Textfeld anzeigen</label>
            <label lang="en">Show quantity select as text field</label>
            <value>1</value>
            <description lang="de">Aktivieren Sie diese Option, wenn die Mengenauswahl als Textfeld mit Plus/Minus Buttons angezeigt werden soll.</description>
            <description lang="en">Activate this option if you want to display the quantity select field as a text field with plus/minus buttons.</description>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showNumberInputPopups</name>
            <label lang="de">Hinweis für Mindest- / Maximalabnahme</label>
            <label lang="en">Note for minimum order / maximum purchase quantity</label>
            <value>1</value>
            <description lang="de">Wenn aktiv, wird ein Hinweis eingeblendet, wenn die Mindest-/Maximalabnahmemenge überschritten bzw. unterschritten wird.</description>
            <description lang="en">If active, a message is shown if the minimum / maximum purchase quantity is exceeded.</description>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showNumberInputCart</name>
            <label lang="de">Im Warenkorb anzeigen</label>
            <label lang="en">Show in cart</label>
            <value>0</value>
            <description lang="de">Aktivieren Sie diese Option, wenn die Mengenauswahl als Textfeld auf der Warenkorbseite angezeigt werden soll.</description>
            <description lang="en">Activate this option if the quantity selection should be displayed as a text field on the shopping cart page.</description>
        </element>

        <element required="true" type="select" scope="shop">
            <name>cartNumberInputSubmitMethod</name>
            <label lang="de">― Bestätigungsmethode</label>
            <label lang="en">― Confirm method</label>
            <value>button</value>
            <description lang="de">Wählen Sie hier aus, mit welcher Methode die Mengeneingabe akzeptiert wird (erst dann wird der Preis aktualisiert). Timeout: Eingabe wird X Sekunden nach dem letzten Tastenanschlag automatisch übernommen; Button: Nutzer muss die Eingabe per Übernehmen-Button bestätigen.</description>
            <description lang="en">Here you can select the method by which the quantity entry is accepted (only then will the price be updated). Timeout: input is accepted X seconds after the last keystroke; Button: User must confirm the input via the apply-button.</description>
            <store>
                <option>
                    <value>timeout</value>
                    <label lang="de">Timeout</label>
                    <label lang="en">Timeout</label>
                </option>
                <option>
                    <value>button</value>
                    <label lang="de">Button</label>
                    <label lang="en">Button</label>
                </option>
            </store>
        </element>

        <element required="true" type="number" scope="shop">
            <name>cartNumberInputSubmitTimeout</name>
            <label lang="de">― Timeout (Millisekunden)</label>
            <label lang="en">― Timeout (milliseconds)</label>
            <value>1000</value>
        </element>

        <element required="false" type="select" scope="shop">
            <name>headingTotal</name>
            <label lang="de">Gesamtsumme</label>
            <label lang="en">Total amount</label>
            <store><![CDATA[Ext.create('MaxiaPluginHeading', { parent: this })//new ]]></store>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showTotal</name>
            <label lang="de">Summe anzeigen</label>
            <label lang="en">Show total</label>
            <value>1</value>
            <description lang="de">Aktivieren Sie diese Option, wenn die Summe (nach Mengenauswahl) über dem Warenkorb-Button angezeigt werden soll.</description>
            <description lang="en">Activate this option if you want to display the sum (based on quantity selection) above the shopping cart button.</description>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showTotalBlockPricesOnly</name>
            <label lang="de">― Nur für Artikel mit Preisstaffelung</label>
            <label lang="en">― Only for items with price graduation</label>
            <value>0</value>
            <description lang="de">Aktivieren Sie diese Option, wenn die Summe nur für Artikel mit Preisstaffelungen angezeigt werden soll.</description>
            <description lang="en">Activate this option if you want to show the sum for articles with quantity discounts only.</description>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showTotalSavings</name>
            <label lang="de">Gesamtersparnis anzeigen</label>
            <label lang="en">Show total savings</label>
            <value>1</value>
            <description lang="de">Aktivieren Sie diese Option, wenn die Gesamtersparnis zusammen mit der Summe angezeigt werden.</description>
            <description lang="en">Activate this option if you want to display the sum (based on quantity selection) above the shopping cart button.</description>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showTotalAsPopup</name>
            <label lang="de">Als Popup anzeigen</label>
            <label lang="en">Show as popup</label>
            <value>1</value>
            <description lang="de">Wenn aktiv, wird die Gesamtsumme als Popup angezeigt. Wenn inaktiv, wird die Gesamtsumme über der Mengeneingabe angezeigt.</description>
            <description lang="en">If active, the total will be displayed as a popup. If inactive, the total is displayed above the quantity input.</description>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showTaxBelowTotal</name>
            <label lang="de">Preisinfo unter der Summe anzeigen</label>
            <label lang="en">Show price info below the total</label>
            <value>0</value>
            <description lang="de">Aktivieren Sie diese Option, wenn der Text "inkl. MwSt. zzgl. Versandkosten" unter der Summe angezeigt werden soll. Standardmäßig wird der Text unter der Tabelle angezeigt.</description>
            <description lang="en">Activate this option if you want to show the text "incl. VAT plus shipping costs" below the total. By default, this text is displayed below the table.</description>
        </element>

        <!-- APPEARANCE -->

        <element required="false" type="select" scope="shop">
            <name>headingAppearance</name>
            <label lang="de">Aussehen</label>
            <label lang="en">Appearance</label>
            <description lang="de">
                <![CDATA[
                Hier kann das Aussehen des Plugins angepasst werden.<br>
                Hinweis: Damit die Änderungen aktiv werden, muss das Theme neu kompiliert werden.
                ]]>
            </description>
            <description lang="en">
                <![CDATA[
                Change the appearance of the pllugin here. <br>
                Note: For the changes to take effect, the theme must be recompiled.
                ]]>
            </description>
            <store><![CDATA[Ext.create('MaxiaPluginHeading', { parent: this });//new ]]></store>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>scrollable</name>
            <label lang="de">Tabellenhöhe begrenzen</label>
            <label lang="en">Limit table height</label>
            <value>0</value>
            <description lang="de">Wenn aktiv, wird die Höhe der Tabelle begrenzt. Wenn die Höhe überschritten wird, kann innerhalb der Tabelle gescrollt werden.</description>
            <description lang="en">If active, the height of the table will be limited. If the height is exceeded, scrolling within the table will be enabled.</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesMaxHeight</name>
            <label lang="de">Maximale Höhe</label>
            <label lang="en">Maximum height</label>
            <value>230</value>
            <description lang="de">Standardwert: 250</description>
            <description lang="en">Default value: 250</description>
        </element>

        <element required="false" type="boolean" scope="shop">
            <name>stylesScrollFadeActive</name>
            <label lang="de">Abdunkelungs-Effekt wenn scrollbar</label>
            <label lang="en">Darkening effect when scrollable</label>
            <value>1</value>
            <description lang="de">Standardwert: Ja; Dunkelt dem unteren / oberen Bereich der Tabelle je nach Scroll-Position mit einem Farbverlauf ab.</description>
            <description lang="en">Default value: Yes; Darkens the bottom / top of the table with a gradient depending on the scroll position.</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesBadgeBgColor</name>
            <label lang="de">Rabatt-Badge - Hintergrundfarbe</label>
            <label lang="en">Discount badge - Background color</label>
            <value>@badge-discount-bg</value>
            <description lang="de">Standardwert: @badge-discount-bg</description>
            <description lang="en">Default value: @badge-discount-bg</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesBadgeColor</name>
            <label lang="de">Rabatt-Badge - Textfarbe</label>
            <label lang="en">Discount badge - Text color</label>
            <value>@badge-discount-color</value>
            <description lang="de">Standardwert: @badge-discount-color</description>
            <description lang="en">Default value: @badge-discount-color</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesActiveRowIndicatorColor</name>
            <label lang="de">Farbe des Indikators</label>
            <label lang="en">Color of the indicator</label>
            <value>@brand-primary</value>
            <description lang="de">Standardwert: @brand-primary</description>
            <description lang="en">Default value: @brand-primary</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesActiveRowIndicatorWidth</name>
            <label lang="de">Breite des Indikators</label>
            <label lang="en">Width of the indicator</label>
            <value>5</value>
            <description lang="de">In Pixel; Standardwert: 4</description>
            <description lang="en">In pixels; Default value: 4</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesBorderColor</name>
            <label lang="de">Rahmenfarbe</label>
            <label lang="en">Border color</label>
            <value>@border-color</value>
            <description lang="de">Standardwert: @border-color</description>
            <description lang="en">Default value: @border-color</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesBorderRadius</name>
            <label lang="de">Rahmenabrundung</label>
            <label lang="en">Border radius</label>
            <value>3</value>
            <description lang="de">In Pixel; Standardwert: 3</description>
            <description lang="en">In pixels; Default value: 3</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesRowHeightActive</name>
            <label lang="de">Zeilenhöhe - aktiv</label>
            <label lang="en">Row height - active</label>
            <value>70</value>
            <description lang="de">In Pixel; Standardwert: 75</description>
            <description lang="en">In pixels; Default value: 75</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesRowHeight</name>
            <label lang="de">Zeilenhöhe - inaktiv</label>
            <label lang="en">Row height</label>
            <value>55</value>
            <description lang="de">In Pixel; Standardwert: 60</description>
            <description lang="en">In pixels; Default value: 60</description>
        </element>

        <element required="true" type="boolean" scope="shop">
            <name>showTransparency</name>
            <label lang="de">Zeilen-Transparenz - inaktiv</label>
            <label lang="en">Row transparency - inactive</label>
            <value>0</value>
            <description lang="de">Aktivieren Sie diese Option, wenn inaktive Preise transparent dargestellt werden sollen.</description>
            <description lang="en">Activate this option if inactive prices should be displayed transparently.</description>
        </element>

        <element required="true" type="text" scope="shop">
            <name>stylesRowOpacityNotAvailable</name>
            <label lang="de">Zeilen-Transparenz - nicht verfügbar</label>
            <label lang="en">Zeilen-Transparenz - not available</label>
            <value>0.65</value>
            <description lang="de">Standardwert: 0.65</description>
            <description lang="en">Default value: 0.65</description>
        </element>

        <element required="true" type="text" scope="shop">
            <name>stylesRowBackgroundNotAvailable</name>
            <label lang="de">Zeilen-Hintergrundfarbe - nicht verfügbar</label>
            <label lang="en">Row background color - not available</label>
            <value>@gray</value>
            <description lang="de">Standardwert: @gray</description>
            <description lang="en">Default value: @gray</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesPriceFontSize</name>
            <label lang="de">Schriftgröße - Preis</label>
            <label lang="en">Font size - Price</label>
            <value>18</value>
            <description lang="de">In Pixel; Standardwert: 18</description>
            <description lang="en">In pixels; Default value: 18</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesPriceFontSizeActive</name>
            <label lang="de">Schriftgröße - Preis - aktiv</label>
            <label lang="en">Font size - Price - active</label>
            <value>25</value>
            <description lang="de">In Pixel; Standardwert: 25</description>
            <description lang="en">In pixels; Default value: 25</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesFontSizePriceInfo</name>
            <label lang="de">Schriftgröße - zweite Zeile</label>
            <label lang="en">Font size - second line</label>
            <value>13</value>
            <description lang="de">In Pixel; Standardwert: 13</description>
            <description lang="en">In pixels; Default value: 13</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesFontSizeAmount</name>
            <label lang="de">Schriftgröße - 'ab' Menge</label>
            <label lang="en">Font size - 'from' amount</label>
            <value>15</value>
            <description lang="de">In Pixel; Standardwert: 15</description>
            <description lang="en">In pixels; Default value: 15</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesFontSizeSum</name>
            <label lang="de">Schriftgröße - Summe</label>
            <label lang="en">Font size - Total amount</label>
            <value>16</value>
            <description lang="de">In Pixel; Standardwert: 16</description>
            <description lang="en">In pixels; Default value: 16</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesFontSizeSumSavings</name>
            <label lang="de">Schriftgröße - Summe - Ersparnis</label>
            <label lang="en">Font size - total amount - savings</label>
            <value>12</value>
            <description lang="de">In Pixel; Standardwert: 12</description>
            <description lang="en">In pixels; Default value: 12</description>
        </element>

        <element required="true" type="select" scope="shop">
            <name>stylesPopupTheme</name>
            <label lang="de">Popup - Stil</label>
            <label lang="en">Popup - Theme</label>
            <value>light</value>
            <store>
                <option>
                    <value>light</value>
                    <label lang="de">Hell</label>
                    <label lang="en">Light</label>
                </option>
                <option>
                    <value>dark</value>
                    <label lang="de">Dunkel</label>
                    <label lang="en">Dark</label>
                </option>
            </store>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesPopupFontSize</name>
            <label lang="de">Popup - Schriftgröße</label>
            <label lang="en">Popup - Font size</label>
            <value>14</value>
            <description lang="de">In Pixel; Standardwert: 14</description>
            <description lang="en">In pixels; Default value: 14</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesPopupSavingsFontSize</name>
            <label lang="de">Popup - Schriftgröße - Ersparnis</label>
            <label lang="en">Popup - Font size - Savings</label>
            <value>12</value>
            <description lang="de">In Pixel; Standardwert: 12</description>
            <description lang="en">In pixels; Default value: 12</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesPopupColorLight</name>
            <label lang="de">Popup - Schriftfarbe (hell)</label>
            <label lang="en">Popup - Font color (light)</label>
            <value>@text-color-dark</value>
            <description lang="de">Standardwert: @text-color-dark</description>
            <description lang="en">In pixels; Default value: @text-color-dark</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesPopupColorDark</name>
            <label lang="de">Popup - Schriftfarbe (dunkel)</label>
            <label lang="en">Popup - Font color (dark)</label>
            <value>#ffffff</value>
            <description lang="de">Standardwert: #ffffff</description>
            <description lang="en">Default value: #ffffff</description>
        </element>

        <element required="true" type="select" scope="shop">
            <name>quantitySelectTheme</name>
            <label lang="de">Mengenauswahl - Stil</label>
            <label lang="en">Mengenauswahl - Theme</label>
            <value>minimal</value>
            <store>
                <option>
                    <value>default</value>
                    <label lang="de">Standard</label>
                    <label lang="en">Default</label>
                </option>
                <option>
                    <value>minimal</value>
                    <label lang="de">Minimal</label>
                    <label lang="en">Minimal</label>
                </option>
            </store>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesQuantityMinimalColor</name>
            <label lang="de">Mengenauswahl - Minimal - Schriftfarbe</label>
            <label lang="en">Quantity select - Minimal - Font color</label>
            <value>@input-focus-color</value>
            <description lang="de">Standardwert: @input-focus-color</description>
            <description lang="en">Default value: @input-focus-color</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>stylesQuantityMinimalBorderColor</name>
            <label lang="de">Mengenauswahl - Minimal - Rahmenfarbe</label>
            <label lang="en">Quantity select - Minimal - Border color</label>
            <value>@input-border</value>
            <description lang="de">Standardwert: @input-border</description>
            <description lang="en">Default value: @input-border</description>
        </element>

    </elements>
</config>