<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">itDelightCallback</label>
    <label lang="en">itDelightCallback</label>
    <version>1.0.0</version>
    <link>https://www.itdelight.com/</link>
    <author>itDelight</author>
    <description>
    </description>
</plugin>
